*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #F6FAFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;
    --dark-gray: #4D5E77;
    --blue-gray: #A1B2CD;
    --light-gray: #E5EAF1;

    /* 1rem = 16px (user agent) = 100% */
    font-size: 62.5%; /* = 10 px */
}

body{
    height: 100vh; /* vh = view height */
    background: var(--background);
}

body, button, input, textarea{
    font-size: clamp(14px, 1.6rem, 2vw); /* clamp - intervalo de tamanho (menor tamanho, padrão, maior tamanho) */

    font-family: 'Open Sans', sans-serif; ;
}

/* font-family: 'Poppins', sans-serif; */

.content{
    width: 100%; 
    margin: 0 auto;
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}